$chartSize: 150px;
$bottomChartHeight: 200px;
$chartSizeBig: 300px;
$scale: 0.8;

#red .gh-gauge-chart {

	&-main-layer {
		transform: translate($chartSize / 2, $chartSize / 2) scale($scale) rotate(45deg); 
	}	
	&-background {
		fill: #C2B280; 
	}
	&-series {
		fill: red; 
	}
}

#big .gh-gauge-chart {
	width: $chartSizeBig;
	height: $chartSizeBig;
	
	&-main-layer {
		transform: translate($chartSizeBig / 2, $chartSizeBig / 2) scale($scale);
	}
	&-series-layer {
		transform: rotate(135deg); 
	}	
	&-text-layer {
		fill: red;
		font-size: 2em; 
	}			
}

#bottom .gh-gauge-chart {
	width: $chartSize;
	height: $bottomChartHeight;
	
	&-main-layer {
		transform: translate(chartSize / 2, $chartSize / 2) scale($scale);
	}
	&-text-layer {
		transform: translate(0px, (($bottomChartHeight - 2 * $chartSize) / 2) + $chartSize);
	}
}